<html>

<head>
    <title>
        <%= companyName %>
    </title>
</head>

<body>
    <h1>Contact <%= companyName %>
    </h1>
    <form>
        <textarea name="message" placeholder="Type your message"></textarea>
        <input type="button" value="Send"/>
    </form>
</body>

</html>