<html>

<head>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h1>Welcome</h1>
    <h2>You are viewing a website developed by
        <u>
            <%= user %>
        </u> running on
        <a href="/about">
            <%= serverName %>
        </a>
    </h2>
</body>

</html>