<html>

<head>
    <title>
        Welcome <%= name %>
    </title>
</head>

<body>
    <h1>
        Welcome <%= name %>
    </h1>
    <p>now <a href='/login'>sign in</a> to take a look at what we have here</p>
</body>

</html>